<div id="contentCol" class="col-md-8">
  <% if (details) { %>
  <iframe src="/pdf/<%= slug %>" width="100%" height="600px" style="border: 1px solid #ddd"></iframe>
  <% } else { %>
  <p class="text-muted">Select a file to view details.</p>
  <% } %>
</div>
