<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Analyse CGPT: v2</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Tailwind CSS -->
  </head>
  <body class="bg-gray-100 p-6 flex flex-col min-h-screen">
    <h1 class="font-bold text-2xl hover:opacity-80">Analyse CGPT</h1>
    <h2 class="font-bold text-2xl hover:opacity-80">Step-1: fetch-all-snapshot-names</h2>

    
    <div id="table-container" class="w-full"></div>
    <div id="messageDiv" class="text-xs"></div>
    <button>Show raw output</button>
    <div id="rawOutputDiv" style="white-space: pre-wrap"></div>

    <script type="module" src="/analyse-cgpt/v2/ui.mjs"></script>
  </body>
</html>
