/* Theme Variables */
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --ul-bg-color: #f8f9fa;
  --ul-text-color: #000000;
}

/* Dark Mode Variables */
.dark-mode {
  --bg-color: #212529;
  --text-color: #ffffff;
  --ul-bg-color: #333;
  --ul-text-color: #f8f9fa;
}

/* Body & General Styling */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Layout */
.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header */
header {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 2px solid var(--text-color);
}

/* Main */
main {
  height: 75vh;
  overflow-y: auto;
  padding: 20px;
}

/* Footer */
footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid var(--text-color);
}

/* Theme Toggle Button */
.theme-toggle-btn {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1.5rem;
}

/* UL List Styling */
ul.list-group {
  background-color: var(--ul-bg-color);
  color: var(--ul-text-color);
  padding: 10px;
  /* border-radius: 5px; */
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* UL List Items */
ul.list-group li {
  background-color: inherit;
  color: inherit;
  /* border: 1px solid var(--text-color); */
  padding: 10px;
  /* margin-bottom: 5px; */
}

a {
  text-decoration: none;
}
