/* App-specific styles */
.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.layout-header {
  height: 15vh;
  min-height: 15vh;
  max-height: 15vh;
  overflow: hidden;
}

.layout-header > * {
  height: 100%;
}

.layout-footer {
  height: 5vh;
  min-height: 5vh;
  max-height: 5vh;
  overflow: hidden;
}

.layout-footer > * {
  height: 100%;
}

.layout-main {
  height: 78vh;
  min-height: 78vh;
  max-height: 78vh;
  width: 100vw;
}

.layout-sidebar {
  height: 78vh;
  width: 20vw;
  min-width: 20vw;
  max-width: 20vw;
  flex-shrink: 0;
}

.layout-sidebar > * {
  height: 100%;
}

.layout-content {
  height: 78vh;
  width: 80vw;
  min-width: 80vw;
  max-width: 80vw;
  flex-shrink: 0;
}

.layout-content > * {
  height: 100%;
}

