# Python compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# Logs and temporary files
*.log
*.tmp
*.part
*.ytdl

# Output and downloads
downloads/

# Ignore specific OS files
.DS_Store  # macOS
Thumbs.db  # Windows
